{% include "partials/header.njk" %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="imgs/t7_banner.jpg" alt="" width="1050" height="400">
    <h1 class="display-5 fw-bold">Tekken Movement Tool</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Login and enter the dojo! New here, Register and find out more on how this app can help you move like a Pro!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/login" class="btn btn-danger btn-lg px-4 gap-3">Login</a>
        <a href="/register" class="btn btn-outline-secondary btn-lg px-4">Register</a>
      </div>
    </div>
  </div>

{% include "partials/footer.njk" %}