{% include 'partials/header.njk' %}

{% for player in players %}
        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <h4 class="mb-2">{{ player.userName }}</h4>
            <p class="text-muted mb-4">Character <span class="mx-2">|</span> {{ player.character}}</p>
            <div class="d-flex justify-content-between text-center mt-2 mb-2">
              <div>
                <p class="mb-2 h5">{{ player.sessionCompleted }}</p>
                <p class="text-muted mb-0"> Times Trained </p>
              </div>
              <div class="px-3">
                <p class="mb-2 h5">{{ player.rank }}</p>
                <p class="text-muted mb-0">Level</p>
              </div>
            </div>
          </div>
        </div>
{% endfor %}

{% include 'partials/footer.njk' %}