{% include 'partials/header.njk' %}

{% for player in players %}
        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="" class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <h4 class="mb-2">{{ player.userName }}</h4>
            <p class="text-muted mb-4">Character <span class="mx-2">|</span> {{ player.character}}</p>
            <a href="/training" class="btn btn-danger btn-rounded btn-lg"> Start Training</a>
            <div class="d-flex justify-content-between text-center mt-5 mb-2">
              <div>
                <p class="mb-2 h5">{{ player.sessionCompleted }}</p>
                <p class="text-muted mb-0">Sessions Completed</p>
              </div>
              <div class="px-3">
                <p class="mb-2 h5">{{ player.rank }}</p>
                <p class="text-muted mb-0">Rank</p>
              </div>
            </div>
          </div>
        </div>
{% endfor %}

{% include 'partials/footer.njk' %}